extends layout
block content
  .bots
    h2 Bots
    table.table.table-bordered
      tr
        th Location
        th Sponsor
        th Hits
        th Seen
      each row in bots
        tr
          td
            if(row.primaryGroup)
              span.label.label-default= row.primaryGroup
              =' '
            span= row.location
          td
            a(href=row.sponsor.url)= row.sponsor.name
          td= row.hits
          td(style='white-space:nowrap;')
            if row.metrics.dateSeen
              = moment(row.metrics.dateSeen).fromNow()
            else
              | (never)
