extends layout
block content
  .bots
    h2 Bots
    table.table.table-bordered
      tr
        th Location
        th Sponsor
        th Active
        th Seen
      each row in bots
        tr
          td= row.location
          td
            a(href=row.sponsor.url)=row.sponsor.name
          td= row.active ? 'Yes' : 'No'
          td(style='white-space:nowrap;')
            if row.metrics.dateSeen
              = moment(row.metrics.dateSeen).fromNow()
            else
              | (never)
