extends layout
append js
  script(src='/js/main.js')
  script#ping-result-template(type='text/x-handlebars-template').
    <tr id='{{data.id}}'>
      <td class='pulsar'>
        <span class='glyphicon glyphicon-link text-warning' />
      </td>
      {{#if data.sponsor.url}}
        <td>
          <a href='{{data.sponsor.url}}'>{{data.location}}</a>
        </td>
      {{else}}
        <td>{{data.location}}</td>
      {{/if}}
      <td class="ip">{{data.result.ip}}</td>
      <td class="min">{{data.result.min}}</td>
      <td class="max">{{data.result.max}}</td>
      <td class="avg">{{data.result.avg}}</td>
      <td class="loss">{{data.result.loss}}</td>
      <td class="traceLink">
        <a href='#'>Traceroute</a>
      </td>
    </tr>
block content
  +alerts()
  .main
    p.site-description Free online ping test and traceroute service with multiple locations worldwide
    form#ping(action="#", method="post")
      input.ping#host(type="text", name="host", size="10", value="")
      select#group(name="group")
        each row in groups
          option(value=row.tag)= row.name
      button.btn.btn-success(type="submit") Ping
    .instructions Enter a domain or an ip address, e.g. google.com or 72.14.204.99
  #pingResultWrapper.wrapper.hidden
    #pingResults.results
      table#pingTable.table.table-bordered
        thead
          tr
            th(style='width:1%;')
              span.glyphicon.glyphicon-link
            th Location
            th IP
            th Min (ms)
            th Max (ms)
            th Avg (ms)
            th Loss (%)
            th Options
        tbody
          tr#waiting
            td(colspan='8') Waiting for results...
