extends layout
append js
  script.
    var socket = io.connect()
    var sourceId = '!{sourceId}'
  script(src='/js/main.js')
block content
  +alerts()
  .main
    p.site-description Free online ping test service with multiple locations worldwide
    form#ping(action="#", method="post")
      input.ping#host(type="text", name="host", size="10", value="")
      select#group(name="group")
        each row in groups
          option(value=row.tag)= row.name
      button.btn.btn-success#pingBtn(type="submit") Ping
    .instructions Enter a hostname or an IP address, e.g.
      a.example#host(href="#") google.com
      | or
      a.example#ip(href="#")= exampleIp
  #pingResultWrapper.wrapper.hidden
    #pingResults.results
      table#pingTable.table.table-bordered
        thead
          tr
            th(style='width:1%;')
              span.glyphicon.glyphicon-link
            th Location
            th IP
            th Min (ms)
            th Max (ms)
            th Avg (ms)
            th Loss (%)
        tbody
          tr#waiting
            td(colspan='8') Waiting for results...
          tr.hidden#ping-row-template
            td.pulsar
              span.glyphicon.glyphicon-link.text-warning
            td.location
              a(href="#") -
            td.ip -
            td.min -
            td.max -
            td.avg -
            td.loss -
