extends layout
append js
  script(src='//bowercdn.net/c/async-0.9.0/lib/async.js')
  script(src='/js/main.js')
block content
  +alerts()
  .main
    p.site-description Free online ping test and traceroute service with multiple locations worldwide
    form#ping(action="#", method="post")
      input.ping#host(type="text", name="host", size="10", value="")
      select#group(name="group")
        each row in groups
          option(value=row.tag)= row.name
      button.btn.btn-success#pingBtn(type="submit") Ping
    .instructions Enter a domain or an ip address, e.g. google.com or 72.14.204.99
  #pingResultWrapper.wrapper.hidden
    #pingResults.results
      table#pingTable.table.table-bordered
        thead
          tr
            th(style='width:1%;')
              span.glyphicon.glyphicon-link
            th Location
            th IP
            th Min (ms)
            th Max (ms)
            th Avg (ms)
            th Loss (%)
            th Options
        tbody
          tr#waiting
            td(colspan='8') Waiting for results...
          tr.hidden#ping-row-template
            td.pulsar
              span.glyphicon.glyphicon-link.text-warning
            td.location
              a(href="#") -
            td.ip -
            td.min -
            td.max -
            td.avg -
            td.loss -
            td.traceLink
              a(href="#") Traceroute
          tr#test234235
            td.pulsar
              span.glyphicon.glyphicon-link.text-warning
            td.location
              a(href="#") Test 1
            td.ip -
            td.min -
            td.max -
            td.avg -
            td.loss -
            td.traceLink
              a(href="#") Traceroute
          tr#test182763
            td.pulsar
              span.glyphicon.glyphicon-link.text-warning
            td.location
              a(href="#") Test 2
            td.ip -
            td.min -
            td.max -
            td.avg -
            td.loss -
            td.traceLink
              a(href="#") Traceroute
