div.content-box
  div.content-box-header
    h3 Servers
    ul.content-box-tabs
      li
        a.default-tab(href='{url_server_create}') Create Server
    div.clear
  div.content-box-content
    div#tab1.tab-content.default-tab
      table
        thead
          tr
            th Server #
            th Hostname
            th Groups
            th Location
            th Host
            th Cost (yr)
            th Version
            th Up
            th Options
        tbody
          | {servers}
