extends ../layout
block content
  .container
    h1 Create Group
    +alerts()
    form.form-horizontal(action='/group/save', method='post', role='form')
      .form-group
        label.control-label.col-sm-2 Name
        .col-sm-10
          input.form-control(type='text', name='name', placeholder='Group Name')
      .form-group
        label.control-label.col-sm-2 Tag
        .col-sm-10
          input.form-control(type='text', name='tag', placeholder='Group Tag, leave blank for auto')
      .form-group
        label.control-label.col-sm-2 Label
        .col-sm-10
          input.form-control(type='text', name='label', placeholder='Group Label, leave blank for auto')
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save
