extends layout
block content
  .container
    h1 Export
    p Export entries back to a CSV file in the following format
    code name,company,email,address,phone,rank
    p.
      It will randomize entries from the selected rank and try to return the
      desired amount.
    h2 Options
    form.form-horizontal(action='/export', method='post', role='form')
      .form-group
        label.control-label.col-sm-2 Rank
        .col-sm-10
          select(name='rank')
            each i in ['All',1,2,3]
              option(selected=(i == rank))= i
      .form-group
        label.control-label.col-sm-2 Limit
        .col-sm-10
          input.form-control(type='text', name='limit', value=limit)
      .form-group
        label.control-label.col-sm-2 Delimiter
        .col-sm-10
          input.form-control(type='text', name='delimiter', value=delimiter)
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Export