extends layout
block content
  .container
    .main-ping
      form#ping_form(action='', method='post')
        label Enter a domain or an ip address, e.g. google.com or 72.14.204.99
        input#ping_dest.ping(type='text', name='dest', size='20')
        select#group(name='group')
          option(value='') All Regions
          each group in groups
            - var select=null; if(group == group.name) select='selected'
            option(value=group.groupId, selected=select)= group.name
        input(type='submit', value='Ping')
        br
    #ping_output(style='display:none;')
      .main
        table.column_result.server_list(style='width:100%;', rules='all', border='1', bordercolor='#aaa', cellpadding='3')
          tr
            th Location
            th Host
            th Min
            th Max
            th Avg
            th Result
          tbody#ping_server_list
