doctype strict
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    title Free Online Ping Test and Traceroute
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(http-equiv="cache-control", content="no-cache")
    meta(name="Description", content="ping.ms offers free online ping and free online traceroute service with multiple locations worldwide.")
    meta(name="Keywords", content="ping test, ping, traceroute, reverse traceroute, online ping, remote ping, server, web site, website speed, network speed, traceroutes, ping website")
    link(rel="stylesheet", type="text/css", href="css/style.css", media="screen")
    script.
      var site_domain = '.ping.ms'
      var root_domain = 'ping.ms'
  body
    #header
      #title
        h1
          a(href="/") ping.ms
      #login
        a(href="/ping") ping
        | |
        a(href="/trace") traceroute
    | {alert}
    script(type="text/javascript", src="js/ping.js")
    .main-ping
      form#ping_form(action="/", method="post")
        fieldset
          input(type="hidden", name="ping", value="true")
          input#referrer(type="hidden", name="referrer", value="")
          label(for="ping_dest") Enter a domain or an ip address, e.g. google.com or 72.14.204.99
          input#ping_dest.ping(type="text", name="dest", size="20", value="")
          label(for="group")
          select#group(name="group")
            option(value="") All Regions
            option(value="asia") Asia
            option(value="canada") Canada
            option(value="china") China
            option(value="china-telecom") China Telecom
            option(value="china-unicom") China Unicom
            option(value="europe") Europe
            option(value="usa") USA
          input(type="submit", value="Ping")
          br
    #ping_output(style="display: none;")
      .main
        table.column_result.server_list(style="width:100%;border:1px solid #efefef;", rules="all", cellpadding="3")
          thead
            tr
              th Location
              th IP
              th Min
              th Max
              th Avg
              th Result
              th Options
          tbody#ping_server_list
            tr
              td(colspan="7") Loading...
