include alerts
include table
doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block css
      link(rel='stylesheet', type='text/css', href='//bowercdn.net/c/html5-boilerplate-4.3.0/css/normalize.css')
      link(rel='stylesheet', type='text/css', href='//bowercdn.net/c/html5-boilerplate-4.3.0/css/main.css')
      link(rel='stylesheet', type='text/css', href='//bowercdn.net/c/bootstrap-3.2.0/dist/css/bootstrap.min.css')
      link(rel='stylesheet', type='text/css', href='/css/layout.css')
    title Ping.ms Admin
  body
    //navbar
    .navbar.navbar-fixed-top.navbar-inverse(role='navigation')
      .container
        a.navbar-brand(href='/') Ping.ms Admin
        ul.nav.navbar-nav
          li
            a(href='/peer') Peers
          li
            a(href='/group') Groups
          li
            a(href='/page') Pages
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown')= Admin
              b.caret
            ul.dropdown-menu
              li
                a(href='/logout') Logout
    //main content
    block content
    .text-center
      small(style='font-size: 9px;') &copy; Ping.ms. Version #{version}
    //load scripts
    block js
      script(src='//bowercdn.net/c/jquery-1.11.1/dist/jquery.min.js')
      script(src='//bowercdn.net/c/bootstrap-3.2.0/dist/js/bootstrap.min.js')
      script(src='//bowercdn.net/c/bootstrap-multiselect-0.9.5/js/bootstrap-multiselect.js')
      script(src='//bowercdn.net/c/pGenerator-1.0.2/pGenerator.jquery.js')
