extends ../layout
block append js
  script(src='/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js')
  script(src='/bower_components/pGenerator/pGenerator.jquery.js')
  script(src='/js/bots.js')
block content
  .container
    h1 Create Bot
    +alerts()
    form.form-horizontal(action='/bots/save', method='post', role='form')
      .form-group
        label.control-label.col-sm-2 Location
        .col-sm-10
          input.form-control(type='text', name='location', placeholder='Bot Location')
      .form-group
        label.control-label.col-sm-2 Host
        .col-sm-10
          input.form-control(type='text', name='host', placeholder='Bot Hostname')
      .form-group
        label.control-label.col-sm-2 Port
        .col-sm-10
          input.form-control(type='text', name='port', placeholder='Bot Port, leave blank for 4176')
      .form-group
        label.control-label.col-sm-2 Secret
        .col-sm-10
          .input-group
            input.form-control(type='text', name='secret', placeholder='Bot Secret')
            span.input-group-btn
              button.btn.btn-default.btn-generate(type='button') Generate
      .form-group
        label.control-label.col-sm-2 Active
        .col-sm-10
          input(type='checkbox', name='active', checked=true)
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save
