.entries {
  padding: 22px;
}
.entry {
  width: 155px;
  float: left;
  padding-bottom: 12px;
}
.entry-title {
  font-size: 12px;
  height: 40px;
  text-align: center;
  word-wrap: break-word;
}
.entry-title a {
  font-weight: bold;
  color: black;
}
.entry-title a:hover {
  color: orange;
}
