body {
  background-color: #f6f6f6;
  color: #444;
}
h1, h2, h3, h4, h5 {
  color: #222;
}
h1 a {
  color: #444;
}
a {
  text-decoration: none;
  color: #08c;
}
a:hover {
  text-decoration: none;
}
#header, #footer, .site-description, .wrapper {
  width: 650px;
  margin: 0 auto 10px;
  overflow: hidden;
}
#header {
  margin-bottom: 0;
}
#footer div {
  padding: 5px;
}
#footer .links {
  font-size: 11px;
}
#footer .links a {
  margin: 3px;
}
#logo {
  width: 50px;
  height: 50px;
}
.site-description {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.main {
  padding: 15px;
  width: 650px;
  margin: auto;
  border: 1px solid #cbcbcb;
  -moz-border-radius: 10px;
  -webkit-border-radius:10px;
  font-size: 14px;
  background: #333;
  color: #fff;
}
.instructions {
  display:block;
  font-weight:bold;
  color:#f1f1f1;
  font: 10px arial,helvetica,sans-serif;
  text-transform: uppercase;
  margin: 12px 0 4px;
}
input, textarea, select {
  padding: 7px;
  border: 1px solid #aaa;
  font: 16px arial,helvetica,sans-serif;
  width: 490px;
  color: #999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
input.ping {
  padding: 7px;
  border: 1px solid #333;
  font: 16px arial,helvetica,sans-serif;
  width: 375px;
  color: #999;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
input[type=submit], input.submit {
  width: auto;
  background: #08c;
  border: 1px solid #06a;
  color: #fff;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
}
input[type=submit]:hover, input[type=submit]:focus, input.submit:hover, input.submit:focus {
  background: #06a;
  color: #fff;
}
select {
  width: auto;
}
.counter {
  padding: 5px;
}